* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  direction: rtl;
  padding: 0;
}
.navbar-toggle {
  display: none;
}

@import url("../scss/layout_style/_layout.scss");
@import url("../scss/layout_style/_navstyle.scss");
@import url("../scss/layout_style/_sidebar.scss");
@import url("../scss/layout_style/_footer.scss");
@import url("../scss/headers/_headers.scss");
@import url("../scss/employee/_employee.scss");
@import url("../scss/employee/_addemployee.scss");
@import url("../scss/disabilities/disabilitiesadd.scss");
@import url("../scss/disabilities/disablitiesedit.scss");
@import url("../scss/resoinsive/_labtop.scss");
@import url("../scss/resoinsive/_mobile.scss");
@import url("../scss/resoinsive/_smalllabtop.scss");
@import url("../scss/resoinsive/_tablet.scss");
@import url("../scss/steps/stepsindex.scss");
@import url("../scss/login/login.scss");
@import url("../scss/forgetpassword/forget.scss");
@import url("../scss/Codepage/codereset.scss");
@import url("../scss/Curricula/Curriculaedit.scss");
@import url("../scss/employee/_editemployee.scss");
@import url("../scss/disabilities/_disabilitiesindex.scss");
@import url("../scss/Curricula/Curriculaadd.scss");
@import url("../scss/tables/_tables.scss");
@import url("../scss/steps/stepsadd.scss");
@import url("../scss/steps/stepsedit.scss");
@import url("../scss/countries/countriesadd.scss");
@import url("../scss/countries/countriesedit.scss");
@import url("../scss/Associations/associationsadd.scss");
@import url("../scss/Associations/associationsedit.scss");
@import url("../scss/admininformation/AdmininFormation.scss");
@import url("../scss/lessons/addlessons.scss");
@import url("../scss/countries/CountriesIndex.scss");
@import url("../scss/headerView/_header.scss");
@import url("../scss/BodyView/_body.scss");

@font-face {
  font-family: "regular";
  src: url("@/assets/font/alfont_com_Somar-Regular.otf");
}
@font-face {
  font-family: "bold";
  src: url("@/assets/font/alfont_com_Somar-Bold.otf");
}
@font-face {
  font-family: "light";
  src: url("@/assets/font/alfont_com_Somar-Light.otf");
}
@font-face {
  font-family: "Medium";
  src: url("@/assets/font/alfont_com_Somar-Medium.otf");
}
@font-face {
  font-family: "ExtraBold";
  src: url("@/assets/font/alfont_com_Somar-ExtraBold.otf");
}

:root {
  --main: #06797e;
  --primary: #cde382;
}
form {
  border: 1px solid var(--main);
  padding: 0.5rem;
  border-radius: 15px;
}

.input {
  margin-bottom: 1rem;
  input {
    border-radius: 15px !important;
    padding: 0.75rem !important;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.164) !important;
    box-shadow: none !important;
    font-family: "regular" !important;
    font-size: 1rem !important;
    width: 100% !important;

    &:focus {
      border: 1px solid #5c9ded !important;
      box-shadow: 0 0 5px var(--main) !important;
    }
  }
}

input[type="email"] {
  &:focus {
    outline: none !important;
    border: 1px solid #5c9ded !important;
    box-shadow: 0 0 5px var(--main) !important;
  }
}

input[type="password"] {
  &:focus {
    outline: none !important;
    border: 1px solid #5c9ded !important;
    box-shadow: 0 0 5px var(--main) !important;
  }
}
input[type="tel"] {
  &:focus {
    outline: none !important;
    border: 1px solid #5c9ded !important;
    box-shadow: 0 0 5px var(--main) !important;
  }
}
input[type="text"] {
  &:focus {
    outline: none !important;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  &:focus {
    outline: none !important;
    border: 1px solid #5c9ded !important;
    box-shadow: 0 0 5px var(--main) !important;
  }
}

::placeholder {
  color: #0000003d !important;
}

.alll {
  border: 1px solid #ebeaed !important;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 2rem !important;
}
.action-icons {
  .red {
    color: red;
  }
}
label {
  margin-right: 15px !important  ;
}
.multiselect__tags {
  border-radius: 15px !important;
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.164) !important;
}
.multiselect__placeholder {
  color: #aaa;
  direction: ltr;
  text-align: left;
  font-family: "regular";
  padding: 0 !important;
  margin: 0 !important;
}

.multiselect--above.multiselect {
  input {
    border: unset !important;
    outline: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
.multiselect {
  direction: rtl !important;
  text-align: right !important;
}
.multiselect__arrow {
  right: auto !important;
  left: 10px !important;
  transform: rotate(180deg) !important;
}
.multiselect__single {
  input {
    border: unset !important;
    outline: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
.multiselect__placeholder {
  margin-bottom: 0.6rem !important;
  padding-top: 0.3rem !important;
}
.multiselect__content-wrapper {
  width: 98% !important;
  margin-right: 11px !important;
  input {
    border: unset !important;
    outline: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgba(0, 0, 0, 0.123);
  padding: 0.9rem;
  border-radius: 15px;
  i {
    color: #06797e;
  }
}
.avatar-preview {
  img {
    width: 124px;
    height: 124px;
    object-fit: cover;
    border: 1px solid #0000002b;
    border-radius: 50%;
  }
}

.upload-icon span {
  font-size: 14px;
  font-family: "regular";
}

.search {
  border: 1px solid #0000002b;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  input {
    background-color: transparent;
    box-shadow: none !important;
    font-family: "regular" !important;
    font-size: 1rem !important;
    width: 96%;
    padding: 0.3rem;
    border: 0;

    &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
}
textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.164) !important;
  padding: 0.5rem;
  border-radius: 15px;
}
button.bake {
  background-color: var(--main);
  color: white;
  font-family: "regular";
  border: 0;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  transition: 0.7s;
  width: 10%;
  border: 1px solid var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: white;
    border: 1px solid var(--main);
    color: var(--main);
    transform: scale(1.06);
  }
}
button.save {
  display: block;
  margin-inline-start: auto;
  background-color: var(--main);
  color: white;
  font-family: "regular";
  border: 0;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  transition: 0.7s;
  width: 20%;
  border: 1px solid var(--main);
  &:hover {
    background-color: white;
    border: 1px solid var(--main);
    color: var(--main);
    transform: scale(1.06);
  }
}
i.fa-solid.fa-plus {
  color: #06797e;
  margin-bottom: 1rem;
}
.plus {
  display: flex;
  justify-content: start;
  align-items: center;
  h4 {
    margin-bottom: 0;
  }
}
i.fa-solid.fa-pen-to-square {
  color: #06797e;
  margin-bottom: 1rem;
}
.error-message {
  text-align: center;
  border: 1px dashed #ff0000;
  padding: 0.5rem;
  color: #ff0000;
  font-family: "bold";
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.action-icons {
  display: flex;
  justify-content: center;
  align-items: start;
}
nav.navbars {
  box-shadow: 0px 5px 4px -3px #00000040;
  position: relative;
}
textarea {
  overflow: auto;
  width: 98% !important;
  margin-right: 13px !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
span.error-feedback {
  font-family: "bold";
}
.multiselect__input,
.multiselect__single {
  input {
    box-shadow: unset !important;
    border: unset !important;
    outline: unset !important;
  }
}
.custom-popup {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.custom-title {
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
  font-family: "regular";
}

.custom-content {
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
  font-family: "regular";
}

.custom-confirm-button {
  background-color: var(--main) !important;
  color: #fff !important;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "regular";
}

.custom-cancel-button {
  background-color: #d33 !important;
  color: #fff !important;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "regular";
}
