* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  direction: rtl;
  padding: 0;
}

@import url("../scss/layout_style/_layout.scss");
@import url("../scss/layout_style/_navstyle.scss");
@import url("../scss/layout_style/_sidebar.scss");
@import url("../scss/layout_style/_footer.scss");
@import url("../scss/headers/_headers.scss");
@import url("../scss/employee/_employee.scss");
@import url("../scss/employee/_addemployee.scss");
@import url("../scss/disabilities/disabilitiesadd.scss");
@import url("../scss/disabilities/disablitiesedit.scss");
@import url("../scss/resoinsive/_labtop.scss");
@import url("../scss/resoinsive/_mobile.scss");
@import url("../scss/resoinsive/_smalllabtop.scss");
@import url("../scss/resoinsive/_tablet.scss");
@import url("../scss/steps/stepsindex.scss");
@import url("../scss/login/login.scss");
@import url("../scss/forgetpassword/forget.scss");
@import url("../scss/Codepage/codereset.scss");
@import url("../scss/Curricula/Curriculaedit.scss");
@import url("../scss/employee/_editemployee.scss");
@import url("../scss/disabilities/_disabilitiesindex.scss");
@import url("../scss/Curricula/Curriculaadd.scss");
@import url("../scss/tables/_tables.scss");
@import url("../scss/steps/stepsadd.scss");
@import url("../scss/steps/stepsedit.scss");
@import url("../scss/countries/countriesadd.scss");
@import url("../scss/countries/countriesedit.scss");
@import url("../scss/Associations/associationsadd.scss");
@import url("../scss/Associations/associationsedit.scss");
@import url("../scss/admininformation/admininformationAdd.scss");
@import url("../scss/lessons/addlessons.scss");
@import url("../scss/countries/CountriesIndex.scss");
@import url("../scss/headerView/_header.scss");
@import url("../scss/BodyView/_body.scss");

@font-face {
  font-family: "regular";
  src: url("@/assets/font/alfont_com_Somar-Regular.otf");
}
@font-face {
  font-family: "bold";
  src: url("@/assets/font/alfont_com_Somar-Bold.otf");
}
@font-face {
  font-family: "light";
  src: url("@/assets/font/alfont_com_Somar-Light.otf");
}
@font-face {
  font-family: "Medium";
  src: url("@/assets/font/alfont_com_Somar-Medium.otf");
}
@font-face {
  font-family: "ExtraBold";
  src: url("@/assets/font/alfont_com_Somar-ExtraBold.otf");
}

:root {
  --main: #06797e;
  --primary: #cde382;
}
form {
  border: 1px solid var(--main);
  padding: 0.5rem;
  border-radius: 15px;
}
  input {
    border-radius: 33px;
    padding: .75rem;
    background-color: #f7f7f7;
    padding-right: 33px !important;
    border: unset;
    font-family: "light";
    font-size: 13px;
    width: 100%;
  }

input[type="search"] {
  width: 97% !important;
}
