.naim-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, var(--main), #cde382);
  form {
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    .input {
      position: relative;

      input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 0.875rem;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #cde382;
          box-shadow: 0 0 0 3px #cde382;
        }
      }
    }

    button {
      padding: 0.75rem;
      border: none;
      border-radius: 6px;
      background: var(--main);
      color: #ffffff;
      font-size: 0.875rem;
      cursor: pointer;
      transition: background 0.3s ease;
      font-family: "Medium";

      &:hover {
        background: #cde382;
        color: var(--main);
      }
    }
  }

  .forget {
    margin-top: 1rem;

    h6 {
      color: #ffffff;
      cursor: pointer;
      font-size: 0.99rem;
      transition: color 0.3s ease;
      font-family: "Medium";

      &:hover {
        color: #cde382;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
