.headers {
  a {
    text-decoration: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  h4 {
    font-family: "Medium";
    color: var(--main);
  }
  .add {
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 0.5rem 1rem;
    font-family: "regular";
    transition: 0.7s;
  }
  a:hover {
    background-color: white;
    border: 1px solid var(--main);
    color: var(--main);
  }
}
