@media screen and (max-width: 600px) {
  .employees {
    height: 100vh;
  }
  .disabilities {
    height: 100vh !important;
  }
  .curricula {
    height: 100vh !important;
  }
  .lessons {
    height: 100vh !important;
  }
  .countries {
    height: 100vh !important;
  }
  .Associations {
    height: 100vh !important;
  }
  .admin-info {
    height: 100vh !important;
  }
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -250px;
    transition: left 0.5s ease;

    &.sidebar-expanded {
      left: 0;
    }

    &.sidebar-collapsed {
      left: -250px;
    }
  }

  .layout {
    display: block;
  }

  .input {
    width: 100% !important;
    input {
      width: 100%;
    }
  }
  .employees-add {
    & .input {
      input {
        border: 1px solid var(--main);
        border-radius: 10px;
        height: 40px;
        padding: 0 0.3rem;
        width: 100% !important;
        outline: none;
      }
    }
  }

  table.table {
    min-width: 859px;
  }

  .allnav {
    justify-content: space-between !important;
  }

  .navbar-toggle {
    display: block !important;
  }
  .header {
    display: block !important;
  }
  .half-width {
    width: 100% !important;
  }
  .select {
    width: 100% !important;
  }
  .multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 3px 14px 0px 12px !important;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 13px !important;
    margin-top: 1px;
    border-radius: 9px !important;
  }
  .content {
    padding: 0.5rem !important;
  }
  .sidebar-item {
    padding: 18px 0px;
  }
  button.save {
    width: 100% !important;
  }
}
