@media screen and (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-expanded {
    left: 200px;
  }

  .sidebar-collapsed {
    left: 200px;
  }

  .navbar-toggle {
    display: block !important;
  }
  .allnav {
    justify-content: space-between !important;
  }
  .p-chart.h-\[30rem\] {
    height: 189px !important;
  }
  .card {
    .p-chart.h-\[30rem\] {
      height: 189px !important;
    }
  }

  .percentage_projects {
    .d-flex.justify-content-between {
      display: block !important;
    }
  }
  .search {
    input {
      width: 92% !important;
    }
  }
}
