@media screen and (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-expanded {
    left: 200px;
  }

  .sidebar-collapsed {
    left: 200px;
  }

  .navbar-toggle {
    display: block !important;
  }
  .allnav {
    justify-content: space-between !important;
  }
}
