.employees {

  height: 100%;

  .multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 3px 14px 0px 12px !important;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 17px;
    margin-top: 1px;
    border-radius: 9px !important;
  }
  .multiselect__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 2px !important;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
}
