table.table {
  text-align: center;
  font-family: "regular";

  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 2rem !important;
  thead {
    border-bottom: 1px solid #ebeaed !important;
    tr {
      
      th {
        

        font-size: 0.9rem;
        background: none !important;
        color: #828c8d;
        text-align: start !important;
      }
    }
  }
  tbody {
    border-bottom: 1px solid #ebeaed !important;
    tr {
      color: #000;
      td {
        text-align: center !important;
      }
    }
  }
  td.actions {
    i {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
img.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
i {
  color:#828c8d;
  margin: 0 5px;
  cursor: pointer;
}

.table {
  border: 1px solid #00000036;
  padding: 1rem;
  border-radius: 10px;
}
.search {
  background-color: #f7f7f7 !important;


  padding: 0.2rem;
  border-radius: 33px !important;
  width: 97%;
  display: flex;
  align-items: center;
  margin: auto;
  height: 45px;
  margin-bottom: -1rem;
  background: none;

  &.half-width {
    width: 50%;
  }

  input {
    border: none;
    outline: none;
    width: 90%;
    padding: 0 0.3rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .select {
    width: 50%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  a.page-link {
    color: var(--main);
    outline: none;
    box-shadow: none;
    font-family: "regular";
  }
  .page-link:focus {
    background-color: var(--main);
    color: white;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.multiselect__select::before {
  top: 106% !important;
}
