table.table {
  text-align: center;
  font-family: "regular";
  border: 1px solid var(--main);
  border-radius: 10px;
  margin-top: 0.5rem;
  thead {
    tr {
      th {
        background: var(--main) !important;
        color: white;
        text-align: center !important;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center !important;
      }
    }
  }
  td.actions {
    i {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
img.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
i {
  color: var(--main);
  margin: 0 5px;
  cursor: pointer;
}

.table {
  border: 1px solid #00000036;
  padding: 1rem;
  border-radius: 10px;
}
.search {
  border: 1px solid var(--main);
  padding: 0.2rem;
  border-radius: 10px;

  width: 100%;

  &.half-width {
    width: 50%;
  }

  input {
    border: none;
    outline: none;
    width: 90%;
    padding: 0 0.3rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .select {
    width: 50%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  a.page-link {
    color: var(--main);
    outline: none;
    box-shadow: none;
    font-family: "regular";
  }
  .page-link:focus {
    background-color: var(--main);
    color: white;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.multiselect__select::before {
  top: 106% !important;
}
