footer.all-footer {
  padding: 1rem;
  background: white;
  box-shadow: -1px 0px 6px #00000045;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 11%;
    height: 30px;
  }
  h4 {
    font-family: "bold";
    font-size: 0.9rem;
    margin-bottom: 0;
    span {
      color: var(--main);
    }
  }
}
