.sidebar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  color: #ecf0f1;
  font-size: 20px;

  i {
    transition: color 0.3s ease;
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 10px 20px;
}

.sidebar-link {
  color: #ecf0f1;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "regular";

  i {
    font-size: 18px;
    margin-right: 15px;
    color: white;
    transition: color 0.3s ease;
  }

  span {
    font-size: 16px;
  }

  &:hover {
    background-color: white;
    color: var(--main);

    i {
      color: var(--main);
    }
  }

  &.router-link-active {
    background-color: #1abc9c;
  }
}
.sidebar-collapsed {
  .sidebar-link {
    justify-content: center;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: unset;
    }
  }
}
